/* name Selector */
button {
    background-color: crimson;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    cursor: pointer;

}
#group {

    padding: 20px;
    font-family: sans-serif;
    display: flex;
    gap: 20px;
    background-color: #e9f3fa;
    margin: 20px 0px;
    border-radius: 5px;
    border: 1px solid blue;

}
/* id & class selector */
.item{
    background-color: #7db5dd;
    padding: 10px;
    border-radius: 8px;
    color: white;
}
/* Descendant Selector */
.list-group{
    padding: 20px;
    background-color: #f6e9ab;
    background-color: black;

}
.list-group li {
    padding: 10px;
    border: 1px solid crimson;
    border-radius: 5px;
    margin: 5px 0;
    background-color: white;
    font-family: sans-serif;
    list-style-position: inside;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* Universal Selector */

/* Pseudo - selectors */
/* - pseudo classes */
/* - pseudo Elements */
/* Sibling Selector */
/* Wildcard Selector */
/* Selectors by combination */